# This is a basic workflow to help you get started with Actions

# 将修改后的README.md自动转换为pdf文件，保存在release中
name: md2pdf

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
#   push:
#     branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/**.yml'
    tags:
      - v*
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # access repo files

      - name: PandocLatex
        uses: ./
        with:
          args: >-
            pandoc assets/build.md 
            -o artifact/build.pdf
            --from markdown 
            --template template/eisvogel.latex 
            --resource-path=assets 
            --number-sections 
            --top-level-division=chapter 
            --shift-heading-level-by=-1 
            --highlight-style monochrome 
            --pdf-engine "xelatex" 
            --toc 
            -V CJKmainfont="Noto Sans Mono CJK SC"
            -V toc-own-page="true" 
            -V author="Tieway59"
            -V date="${{ steps.date.outputs.date }}"
